.Order-container {
  width: 100%;
  padding: 10px 20px;
  padding-left: 30px;
  padding-bottom: 2rem;
  padding-top: 0;
}
.Order-container > h2 {
  font-weight: bold;
}
.Order-container .sec-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.Order-container .sec-1 .name-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13%;
}
.Order-container .sec-1 .name-nav > h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  margin: 0;
  border-bottom: 2.5px solid transparent;
  cursor: pointer;
}
.Order-container .sec-1 .name-nav > h3:hover {
  color: var(--primary);
}
.Order-container .sec-1 .name-nav .active {
  color: var(--primary);
  border-color: var(--primary);
}
.Order-container .sec-1 > input {
  padding: 5px;
  font-size: 14px;
  outline: none;
  border: 2px solid rgb(224, 224, 224);
  color: gray;
  padding-left: 10px;
  border-radius: 7px;
  width: 20%;
  margin-bottom: 5px;
}
.Order-container .sec-1 > input::placeholder {
  color: rgb(175, 175, 175);
}
.Order-container .Table {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 58vh;
  background-color: white;
  border-radius: 10px;
  margin-top: 1rem;
}
.Order-container .Table .Table-H {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f1f4f7;
  padding: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.Order-container .Table .Table-H > h3 {
  font-size: 18px;
  width: 25%;
  margin: 0;
  margin-left: 10px;
  color: gray;
  font-weight: bold;
}
.Order-container .Table .Table-list {
  width: 100%;
  max-height: 50vh;
  overflow: auto;
}
/* width */
.Order-container .Table .Table-list::-webkit-scrollbar {
  width: 7px !important;
}

/* Track */
.Order-container .Table .Table-list::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 10px;
}

/* Handle */
.Order-container .Table .Table-list::-webkit-scrollbar-thumb {
  background: rgb(216, 216, 216);
  border-radius: 10px;
}

/* Handle on hover */
.Order-container .Table .Table-list::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.Order-container .Table .Table-list .Table-D {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  cursor: default;
}
.Order-container .Table .Table-list .Table-D:hover {
  background-color: #f1f4f7;
}
.Order-container .Table .Table-list .Table-D > h3 {
  width: 25%;
  margin: 0;
  margin-left: 10px;
  color: gray;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.Order-container .Table .Table-list .Table-D > h3 .yellow {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #f4d03f;
  margin-right: 10px;
}
.Order-container .Table .Table-list .Table-D > h3 .green {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #2ecc71;
  margin-right: 10px;
}
.Order-container .Table .Table-list .Table-D > h3 .red {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}

/* Modal Css */

.OrderView-container {
  position: relative;
  padding: 15px;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}
.OrderView-container > i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 23px;
  cursor: pointer;
  color: gray;
}
.OrderView-container > i:hover {
  color: var(--primary);
}
.OrderView-container > p {
  margin-top: 1rem;
  color: gray;
  width: 100%;
}
.OrderView-container > h3 {
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}
.OrderView-container .Table {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(216, 216, 216);
  border-right: 0;
  border-bottom: 0;
}
.OrderView-container .Table .Data {
  display: flex;
  width: 100%;
}
.OrderView-container .Table .Data > h3 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 2px solid rgb(216, 216, 216);
  border-bottom: 2px solid rgb(216, 216, 216);
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  color: rgb(102, 102, 102);
}

@media (max-width: 950px) {
  .Order-container .sec-1 .name-nav {
    width: 23%;
  }
}

@media (max-width: 650px) {
  .Order-container {
    padding: 10px;
    padding-left: 0px;
  }
  .Order-container .sec-1 .name-nav {
    width: 33%;
  }
  .Order-container .sec-1 .name-nav > h3 {
    font-size: 14px;
  }
  .Order-container .sec-1 > input {
    width: 45%;
  }
  .Order-container .Table .Table-H > h3 {
    font-size: 12px;
    margin-left: 5px;
  }
  .Order-container .Table .Table-H {
    padding: 9px 5px;
  }
  .Order-container .Table .Table-list .Table-D > h3 {
    margin-left: 8px;
    font-size: 10px;
  }
  .Order-container .Table .Table-list .Table-D > h3 .yellow {
    height: 7px;
    width: 7px;
    margin-right: 5px;
  }
  .Order-container .Table .Table-list .Table-D > h3 .green {
    height: 7px;
    width: 7px;
    margin-right: 5px;
  }
  .Order-container .Table .Table-list .Table-D > h3 .red {
    height: 7px;
    width: 7px;
    margin-right: 5px;
  }
  .Order-container .Table .Table-list .Table-D {
    padding: 3px;
  }
  /* width */
  .Order-container .Table .Table-list::-webkit-scrollbar {
    width: 3px !important;
  }
  .Order-container .Table .Table-list {
    max-height: 25vh;
  }
  .Order-container .Table {
    height: 35vh;
  }
  .Order-container .Table .Table-list {
    max-height: 30vh;
  }
}
@media (max-width: 370px) {
  .Order-container .sec-1 .name-nav {
    width: 38%;
  }
}
